.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: max(18vh, 70px);
}
.avatar {
  border-radius: 50%;
  width: auto;
  height: max(8vh, 30px);
  margin: 1vh 2vh 1vh 2vh;
}
.container {
  width: 100vw;
  /* background-color: #4a90e2; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max(14vh, 70px);
}
.progressPlus {
  padding-left: 3.4vw;
  height: min(max(6vh, 4vw, 55px), 90px);
  width: auto;
}
.socLogo {
  width: auto;

  height: max(10vh, 60px);
  margin: 2vh 2vh 2vh 2vh;
}

.hamburgerIcon {
  color: white;
  width: 40px;
  height: auto;
  margin-left: 1vw;
}
