.header {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max(18vh, 70px);
  position: fixed;
}
.avatar {
  width: 100%;
  /* border-bottom: black solid 0.2vh; */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: max(14vh, 70px);
}

.hamburgerIcon {
  width: auto;
  height: max(5vh, 30px);
  margin: 2vh 2vh 2vh 2vh;
}

.hamburgerIcon:hover {
  transform: scale(1.2);
}

.title {
  margin: 25px 20px 20px 20px;
  display: flex;
  align-items: center;
  color: white;
}
.text {
  font-size: max(5vh, 30px);
  color: whitesmoke;
}
