.signOutButton {
  border-radius: 10px !important;
  height: 40px;
  width: 150px;
  font-size: 17px !important;
  font-family: "Roboto Condensed", sans-serif !important;
  margin-top: 4px !important;
  color: white !important;
}
