.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  padding: 2vh;
}

.body {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 2vh;
  align-self: center;
  justify-self: center;
  padding: 2em;
  max-width: 60vw;
  border: 5px solid #e0e1e2;

  -webkit-filter: drop-shadow(0px 3px 10px #e0e1e2);
  filter: drop-shadow(0px 0px 8px #e0e1e2);
}

.welcome {
  font-size: 4vh;
  padding: 1em;
  margin: 0em;
  text-align: center;
}
