.body {
  background-image: url('/starryBackground.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

.feedbackForm {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 35vw;
  height: auto;
  background-color: whitesmoke;
  border-radius: 2vh;
  border: 5px solid #e0e1e2;
  position: absolute;
  top: 16vh;
  bottom: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  flex-direction: column;
  /* font-family: 'Roboto', sans-serif; */
  overflow-y: overlay;

  -webkit-filter: drop-shadow(0px 3px 10px #e0e1e2);
  filter: drop-shadow(0px 0px 8px #e0e1e2);
}
.feedbackForm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 rgb(0, 0, 0);
  background-color: black;
}
