@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body {
  background-image: url('/authBackground.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

.profilePicture {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin: 25px 20px 20px 20px;
  align-self: center;
  border: 1px solid #2d8b61;
}

.pWelcome {
  width: 250px;
  font-weight: bold;
  color: #2d8b61;
  text-align: center;
  align-self: center;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 300px;
  height: 550px;
  background-color: whitesmoke;
  border-radius: 20px;
  border-color: #31986a;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 1vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.inputField > input {
  position: relative !important;
  margin-top: 2px !important;
  width: 244px !important;
  min-width: 0;
  margin-right: 0px !important;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 10px !important;
  border-color: #2d8b61 !important;
  font-size: 14px !important;
  color: #2d8b61 !important;
}

.inputField > input::selection {
  background-color: #2d8b61 !important;
  color: white !important;
}

.dropdownMenu {
  display: block;
  margin-top: 2px;
  width: 244px !important;
  min-width: 0;
  margin-right: 0px !important;
}

.signOutButton {
  position: absolute !important;
  bottom: 25px !important ;
  border-radius: 10px !important;
  height: 40px;
  width: 244px !important;
  font-size: 14px !important;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin-top: 4px !important;
  color: white !important;
}

.registerButton {
  position: absolute !important;
  bottom: 70px !important ;
  background-color: #2d8b61 !important;
  border-radius: 10px !important;
  height: 40px;
  width: 244px;
  font-size: 14px !important;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin-top: 10px !important;
  color: white !important;
}

.registerButton:hover {
  background-color: #25724f !important;
}
.registerButton:active {
  background-color: #2d8b61 !important;
}
.form {
  margin-left: 22.5px;
  align-self: center !important;
}
