.graph {
  background-color: whitesmoke !important;
  display: flex !important;
  height: auto !important;
  flex-direction: row;
  justify-content: center !important;
  width: auto !important;
  border-radius: 2vh !important;
  max-width: 40vw;
  border: 5px solid #e0e1e2;
  box-shadow: 2px 2px 2px black;
}

.table {
  display: flex !important;
  height: 70vh !important;
  justify-content: center !important;
  width: 50vw !important;
  text-align: center !important;
}
