.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  align-items: center;
  background-color: lightgray !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
