.planetSoC {
  position: fixed;
}

.planetSocImg {
  width: 35vw;
  position: fixed;
  right: 0px;
  top: 8vh;
  animation: planetFloat 20s ease-in-out infinite;
}

.moonSocImg {
  height: 20vh;
  width: 100vw;
  position: fixed;
  right: 0;
  bottom: 0;
}

.astronautImg {
  width: 10vw;
  position: fixed;
  left: 0px;
  bottom: 6vw;
  animation: astronautFloat 7s ease-in-out infinite;
}

@keyframes astronautFloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes planetFloat {
  from {
    transform: rotate(0deg) translateX(4px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(4px) rotate(-360deg);
  }
}
