.container {
  display: flex;
  padding: 1rem;
  background-color: #31986a;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.icons {
  width: 40px;
  height: 40px;
  color: white;
}
