.header {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max(18vh, 70px);
}
.avatar {
  width: 100%;
  /* border-bottom: black solid 0.2vh; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: max(14vh, 70px);
}

.socLogo {
  width: auto;
  height: max(10vh, 60px);
  margin: 2vh 2vh 2vh 2vh;
}

.title {
  margin: 25px 20px 20px 20px;
  display: flex;
  align-items: center;
  color: black;
}
.text {
  font-size: max(5vh, 30px);
}

.quote {
  align-items: center;
}
