.avatar {
  /* position: absolute !important; */
  /* top: 10px;
  right: 20px; */
  border-radius: 50%;
  width: auto;
  height: max(8vh, 40px);
  margin: 1vh 2vh 1vh 2vh;
  align-self: center;
  border: 1px solid transparent;
}

.avatar:hover {
  transform: scale(1.2);
}
