.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 6vh;
  align-items: center;
}
.icons {
  height: 20vh;
  width: auto;
}
.link_text {
  text-decoration: none;
  text-align: center;
  font-size: 3vh;
  color: black;
}

.imageLink {
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1.5vh 1.5vh 7vh grey;
  border-radius: 2vh;
  padding: 1vh;
}

.imageLink:hover {
  box-shadow: 3px 3px 20px rgb(58, 58, 58);
}
