.submitButton {
  height: 40px;
  width: 244px;

  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  color: white !important;
  background-color: #2d8b61 !important;
  border-radius: 10px !important;
  margin-top: 4px !important;
  font-size: 15px !important;
  color: white !important;
}

.mainPageButton {
  height: 40px;
  width: 244px;

  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin-top: 10px !important;
  color: white !important;
  background-color: #436cdb !important;
  border-radius: 10px !important;
  margin-top: 4px !important;
  margin-left: 4px !important;
  font-size: 15px !important;
  color: white !important;
}

.errorInput > label {
  color: red !important;
}

.errorText {
  margin: 0.1em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 0.8rem;
}
