.submitButton {
  height: 40px;
  width: 244px;
  position: center;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  color: white !important;
  background-color: #2d8b61 !important;
  border-radius: 10px !important;
  margin-top: 4px !important;
  font-size: 15px !important;
  color: white !important;
}

.errorInput > label {
  color: red !important;
}

.errorText {
  margin: 0.1em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 0.8rem;
}

.successIcon {
  height: 40px;
  width: auto;
  margin-left: 13px;
  margin-top: 4px;
}

.buttonContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.postSuccess {
  margin: 0.1em 0 0 0;
  padding: 0;
  color: #2d8b61;
  font-style: bold;
}
