.container {
  display: flex;
  margin-top: 1vh;
  padding: 1vh;
  background-color: #e0e1e2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.icons {
  height: max(1vh, 30px);
  width: auto;
  color: white;
}

.icons:hover {
  transform: scale(1.2);
}
