html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* header {
  padding: 60px;
  text-align: center;
  background: black;
}

.header {
  background-color: white;
  padding: 1;
  border-bottom: black;
  margin-bottom: -30px;
} */

* .form.ui.form {
  margin: 0;
  width: 500px;
  position: relative;
  top: 100;
  right: 100;
}

.coachButton {
  position: absolute;
  left: 40%;
  top: 50%;
}

.card {
  position: absolute;
  left: 40%;
  top: 50%;
}

.signout {
  position: absolute;
  left: 90%;
  top: 10%;
}

.ui.cards {
  width: 700px;
  height: 200px;
  line-height: 2;
}

.mdl-card .firebaseui-callback-indicator-container {
  height: 8px;
  background-color: #31986a;
}

.mdl-card.firebaseui-container {
  min-height: 0px;
  margin-top: 65px;
  width: 200px;
}

.firebaseui-idp-button {
  background-color: #31986a !important;
  position: retlative !important;
  border-radius: 10px !important;
}

/* DROPDOWN MENU STYLES --> override the SEMANTIC-UI-CSS */

.ui.selection.dropdown {
  border-color: #2d8b61 !important;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 10px !important;
  color: #000000 !important;
}

.dropdownMenu::selection {
  background-color: #2d8b61 !important;
  color: white !important;
}

.ui.selection.active.dropdown .menu {
  border-color: #31986a !important;
}

.ui.selection.dropdown .menu {
  border-radius: 0 0 10px 10px !important;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: #31986a !important;
  color: white !important;
}

.ui.dividing.header {
  font-size: 2vh;
  text-align: right;
}

body ::-webkit-scrollbar-track {
  background: #69ca9e9a !important;
  border-radius: 0 0 10px 0 !important;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  border-color: #2d8b61 !important;
  background: #2d8b61 !important;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

/* STYLE INPUT FIELDS */

.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'] {
  border-color: #2d8b61 !important;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 10px !important;
}

.ui.form textarea {
  border-color: #2d8b61 !important;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 10px !important;
}
